.animated-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease, transform 2s ease;
  }
  
  .animated-section.active {
    opacity: 1;
    transform: translateY(0);
  }